.container {
    height: 100%;
    width: 100%;
    background-color: red;
    flex-direction: column;
    text-align: center;
}

.top_bar{
    height: 8%;
    width: 100%;
    background-color: blueviolet;
    flex-direction: row;
}

button{
    background-color: transparent;
}

.top_bar text{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-top: 10%;
}

.time_mode{
    height: 70%;
    width: 100%;
    font-size: 36px;
    text-align: center;
}

.countdowndiv{
    height: 60%;
    width: 100%;
    radius: 400px;
    background-color: lightgrey;
    flex-direction: column;
    padding-top: 15%;
}

.showTime{
    flex-direction: row;
}

progress{
    height: 75%;
    width: 75%;
    margin-left: 12.5%;
    background-color: white;
}


.ch_minute{
    font-size: 16px;
    margin-top: 32%;
    margin-left: 60%;
}

.start_concentration{
    height: 7%;
    width: 40%;
    background-color: white;
    color: lightgrey;
    text-align: center;
    radius: 30px;
    margin-left: 30%;
    margin-bottom: 10%;
}

.bottom_bar{
    height: 25%;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    bottom: 0%;
    background-color: white;
}

.bottom_bar button{
    width: 100%;
    margin-top: 50%;
}

.textline text{
    font-size: 12px;
    width: 100%;
    margin-bottom: 10%;
}

@media screen and (device-type: tablet) and (orientation: landscape) {
    .title {
        font-size: 100px;
    }
}

@media screen and (device-type: wearable) {
    .title {
        font-size: 28px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("/common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        font-size: 100px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: phone) and (orientation: landscape) {
    .title {
        font-size: 60px;
    }
}
